:link,
:visited,
ins {
	text-decoration: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
a:link,
a:visited {
	color: #5e5e5e;
}
.l {
	float: left;
}
.r {
	float: right;
}
.clear {
	height: 0;
	overflow: hidden;
	clear: both
}
.hide {
	display: none;
}
.btn.hide {
	display: none;
}
a.hidefocus {
	outline: none;
}
button.hidefocus::-moz-focus-inner {
	border: none;
}
a:focus {
	outline: none;
	-moz-outline: none;
}
input,
textarea {
	outline: none;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 16px;
	line-height: 32px;
}
h5 {
	font-size: 14px;
	line-height: 28px;
}
/*border && padding*/

.img_border {
	border: 4px solid #fff;
	border-radius: 1px;
}
.bb {
	border-bottom: 1px solid #d2d2d2
}
.bt {
	border-top: 1px solid #d2d2d2
}
.pt15 {
	padding-top: 15px;
}
.pb15 {
	padding-bottom: 15px;
}
.p15 {
	padding: 0 15px
}
/*颜色定义*/

.color-gray,
a.color-gray:link,
a.color-gray:visited {
	color: #b7bcc0;
}
html,
body {
	font: 14px/1.5 "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
	color: #14191e;
}
body {
	overflow-y: scroll;
}
.clearfix:after {
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	*zoom: 1;
}
.l {
	float: left;
}
.r {
	float: right;
}
.hide {
	display: none;
}
.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.myspace_remind {
	width: 10px;
	height: 10px;
	background: url(/static/img/space-remind.png) no-repeat 0 0;
	position: absolute;
	top: 10px;
	right: 10px;
}
.flw-weixin-box {
	position: absolute;
	display: none;
	width: 170px;
	height: 220px;
	left: -69px;
	bottom: 35px;
	background: url(/static/img/common/footer-sprite.png?1) no-repeat 0 0;
}
.followus .followus-weixin {
	background-position: 0 -279px;
}
.followus-weixin:hover .flw-weixin-box {
	display: block;
}
.followus .followus-weibo {
	background-position: 0 -321px;
}
.followus .followus-qzone {
	background-position: 0 -363px;
}
.friend-links {
	/*padding-top: 20px ;border-top:1px solid #4F5153;*/
	
	line-height: 60px;
}
.friend-links a {
	display: inline-block;
	margin-right: 20px;
}
.friend-links a:hover {
	text-decoration: underline;
	color: #000;
}
.friend-links dl {
	padding: 0 10px;
}
.friend-links dd {
	float: left;
	width: 160px;
}
.page-prev,
.page-next {
	width: 70px;
}
.page .notmargin {
	margin-right: 0;
}
select {
	margin: 0;
	font-size: 100%;
	cursor: pointer;
	font-weight: normal;
	background-color: #fff;
	border: 1px solid #ccc;
	color: #555;
	display: inline-block;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding: 4px 6px;
	vertical-align: middle;
}
select:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
/*回到顶部*/

.elevator {
	position: fixed;
	right: 15px;
	bottom: 10px;
	z-index: 1030;
}
.elevator a {
	display: block;
	position: relative;
	margin: 1px 0;
	outline: none;
	height: 52px;
	width: 52px;
	-webkit-transition: background-position 0.15s;
	-moz-transition: background-position 0.15s;
	transition: background-position 0.15s;
	background: url(/static/img/common/elevator-sprite.png) no-repeat;
}
.elevator .elevator-diaocha {
	background-position: 0 -204px;
}
.elevator .elevator-diaocha:hover {
	background-position: 0 -266px;
}
.elevator .elevator-app-box {
	position: absolute;
	display: none;
	width: 172px;
	height: 194px;
	bottom: -10px;
	right: 46px;
	-webkit-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	transition: opacity 0.25s;
	opacity: 0;
	filter: alpha(opacity=0);
	background: url(/static/img/common/elevator-sprite.png) no-repeat 0 0;
}
.elevator .elevator-app {
	background-position: 0 -452px;
}
.elevator .elevator-app:hover {
	background-position: 0 -514px;
}
.elevator .elevator-app:hover .elevator-app-box {
	display: block;
	opacity: 1;
	filter: alpha(opacity=100);
}
.elevator .elevator-msg {
	background-position: 0 -328px;
}
.elevator .elevator-msg:hover {
	background-position: 0 -390px;
}
.elevator .elevator-top {
	background-position: 0 -576px;
}
.elevator .elevator-top:hover {
	background-position: 0 -638px;
}
a {
	outline: none;
}
a:active {
	star: expression(this.onFocus=this.blur());
}
a,
input,
button {
	outline: none;
}
button::-moz-focus-inner {
	border: 0px;
}
input::-moz-focus-inner {
	border: 0px;
}
.autowrap {
	word-wrap: break-word;
	word-break: break-all;
}
.compatible-contianer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	min-width: 800px;
	height: 30px;
	line-height: 30px;
	background: url(/static/img/iebg.gif) repeat-x;
	z-index: 999999;
}
.cpt-ct {
	color: #363636;
	font-size: 12px;
	text-align: center;
}
.cpt-ct i {
	display: inline-block;
	width: 12px;
	height: 14px;
	vertical-align: -2px;
	margin-right: 5px;
	background: url(/static/img/iefixed-sprite.png) no-repeat 0 0;
}
.cpt-ct a {
	color: #39b94e;
}
.cpt-ct a:hover {
	text-decoration: underline;
}
.cpt-handle {
	position: absolute;
	right: 20px;
	top: 0;
	font-size: 12px;
	line-height: 27px;
}
.cpt-handle a {
	display: inline-block;
	vertical-align: middle;
}
.cpt-handle .cpt-agin {
	color: #656e73;
	margin-right: 5px;
}
.cpt-handle .cpt-agin:hover {
	color: #363d40;
}
.cpt-close {
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	border-radius: 50%;
	transition: 0.3s;
}
.cpt-close:hover {
	background-color: #fc8800;
}
.cpt-close i {
	display: inline-block;
	height: 8px;
	width: 8px;
	vertical-align: 1px;
	background: url(/static/img/iefixed-sprite.png) no-repeat 0 -24px;
}
.cpt-close:hover i {
	background-position: 0 -42px;
}
/*用户卡片样式*/

.layer-usercard {
	position: absolute;
	z-index: 999;
	width: 370px;
	height: 165px;
	background: #fff;
	box-shadow: 0 2px 2px #999;
}
.layer-usercard .arrow {
	position: absolute;
	left: 65px;
	top: -11px;
	width: 19px;
	height: 11px;
	background: url(/static/img/dot_usercard.png);
}
.layer-usercard-header {
	height: 110px;
	background: #2a2c2e;
}
.layer-usercard-header .avatar img {
	border-radius: 50px;
	left: 21px;
	position: absolute;
	top: 21px;
	border: 3px solid #7f8082;
}
.layer-usercard-header dt,
.layer-usercard-header dd {
	float: right;
	width: 245px;
	padding-right: 20px;
	color: #fff;
}
.layer-usercard-header dt {
	padding-top: 20px;
	font-size: 18px;
}
.layer-usercard-header dd {
	font-size: 12px;
}
.layer-usercard-info ul {
	overflow: hidden;
	padding-top: 16px;
	height: 32px;
	font-size: 16px;
	color: #364247;
	position: relative;
}
.layer-usercard-info li {
	float: left;
	padding: 0 22px;
	border-right: 1px solid #d9d9d9;
}
.layer-usercard-info span {
	color: #969b9e;
	font-size: 12px;
}
.layer-usercard-info li.noborder {
	border: 0;
}
li.layer-usercard-medal {
	padding: 0;
	top: 12px;
	right: 10px;
	width: 117px;
	position: absolute;
	border: 0;
}
.layer-usercard-medal a {
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 5px;
	border-radius: 1px;
	overflow: hidden;
}
/*发问题匹配问答关键词*/

.send-area-result {
	background: #fff;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 41px;
	left: 0;
	width: inherit;
}
.send-area-result dt {
	font-size: 12px;
	color: #c8cdd2;
	line-height: 40px;
	height: 40px;
	padding: 0 10px;
}
.send-area-result dd {
	height: 40px;
	line-height: 40px;
}
.send-area-result dd a.questiontitle {
	border: none;
	font-size: 14px;
	color: #787d82;
	width: inherit;
	text-align: left;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	display: block;
}
.oncurr {
	color: #14191e;
	background: #edf1f2;
}
.send-area-result dd a.questiontitle i,
.send-area-result dd a.questiontitle em {
	font-style: normal;
	font-size: 12px;
	margin-left: 10px;
}
.send-area-result dd a.questiontitle em {
	color: #c8cdd2;
}
.send-area-result dd a.questiontitle i {
	color: #00b33b;
}
body {
	background: #edeff0
}
.course-list-new li.nonemagright {
	margin-right: 0 !important;
}
.gotoTopBtn {
	margin-left: 610px;
}
/*教师空间*/

.myClassAlert {
	margin-top: 17px
}
.myClassPageHead {
	background: #fff;
}
.myClassPageHead table th,
.myClassPageHead table td {
	vertical-align: top;
	text-align: left;
}
.myClassPageHead table {
	width: 100%
}
.myClassPageHead table th {
	width: 140px;
}
.myClassPageHead table th.thBtn {
	width: 132px;
	vertical-align: bottom;
	text-align: right;
}
.myClassPageHead table td dl dt {
	padding-top: 35px;
	font-size: 24px;
}
.myClassPageHead table th img {
	float: left;
	width: 220px;
	height: 220px;
}
.myClassPageHead table td {
	padding: 0 30px;
}
.myClassPageHead dl dt span.teacher_icon {
	background: url(/static/img/teacher-rz.png) no-repeat 0 0px;
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}
.myClassPageHead dl dt {
	height: 30px;
	line-height: 30px
}
.myClassPageHead dl dt span {
	float: left
}
.myClassPageHead dl dt span.teacher_iden {
	background: url(/static/img/curse_icon.png) no-repeat -43px 0;
	width: 67px;
	height: 24px;
	margin-left: 5px;
	display: none
}
/*教师页面新样式*/

.course-list-new {
	margin-top: 20px
}
.course-list-new li {
	background: #fff;
	background: #f7faf9\0/;
	*background: #f7faf9;
	border-bottom: 2px solid #f7faf9\0/;
	*border-bottom: 2px solid #f7faf9;
	border-radius: 0 0 1px 1px;
	float: left;
	margin: 5px 5px 15px !important;
	width: 280px;
	height: 240px;
	position: relative;
	box-shadow: 0 1px 2px #c5c5c5;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
}
.hascourselist li {
	margin-right: 20px !important;
	margin-left: 0px !important
}
.teacherlist li {
	margin: 5px 26px 15px 0 !important;
}
.course-list-new li .course-list-img {
	width: 280px;
	height: 160px;
	overflow: hidden;
	position: relative;
	*display: inline;
}
.course-list-new li .course-list-img img {
	width: 280px;
	height: 160px;
	display: block;
	transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	-o-transition: 1s;
}
.course-list-new li .course-list-img span.join {
	position: absolute;
	bottom: -19px;
	width: 280px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background: #39b94e;
	z-index: 1;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	*display: none;
}
.course-list-new li h5 {
	color: #363d40;
	line-height: 50px;
	line-height: 30px \9;
	text-align: center;
}
.course-list-new li .code-count {
	text-align: center;
	font-size: 12px;
	color: #969b9e;
}
.course-list-new li h5 .topicon {
	padding-left: 35px;
	display: inline-block;
	background: url(http://static.mukewang.com/static/img/course/dot_recommend.png) no-repeat left center;
}
.course-list-new li .intro {
	position: absolute;
	padding: 0 14px;
	opacity: 0;
	top: 160px;
	left: 0px;
	width: 252px;
	background: #fff;
	background: #f7faf9\0/;
	*background: #f7faf9;
	display: none\0/;
	*display: none;
	font-size: 12px;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
}
.course-list-new li .intro p {
	padding-top: 10px;
	height: 40px;
	line-height: 20px;
}
.course-list-new li .intro span {
	color: #b4bbbf;
}
.course-list-new li .tips {
	padding: 0 14px;
	font-size: 12px;
	color: #b4bbbf;
}
.course-list-new li .new {
	color: #86d693 !important;
}
.course-list-new li:hover,
.course-list-new li.hover {
	border-bottom: 2px solid #dae0e5\0/;
	*border-bottom: 2px solid #dae0e5;
	box-shadow: 0 2px 8px #bbb;
}
.course-list-new li:hover img,
.course-list-new li.hover img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}
.course-list-new li:hover span.join,
.course-list-new li.hover span.join {
	bottom: 0px;
	*display: block;
}
.course-list-new li:hover .intro,
.course-list-new li.hover .intro {
	color: #656e73;
	opacity: 1;
	display: block\0/;
	*display: block;
}
/*20140113 by pwf   空间公用*/

.space-course {
	background-color: #eeeff1;
	color: #99a1a6;
}
.space-course #main {
	background: url(../img/cover_ta.jpg?t=1) center top no-repeat;
	padding: 14px 0 20px !important
}
.space-course.my #main {
	background: #edeff0;
	padding: 20px 0 20px !important
}
.space-course .icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/space-newicon.png) no-repeat;
}
.remindlist {
	width: 10px;
	height: 10px;
	background: url(../img/space-remind.png) no-repeat 0 0;
	position: absolute;
	top: 2px;
	right: 2px;
}
/*tag*/

.tagwidth {
	width: 570px;
	white-space: nowrap;
}
.mytag li {
	white-space: nowrap;
}
.tag li {
	float: left;
	margin: 10px 10px 0 0;
}
.tag em {
	padding: 2px 10px;
	color: #fff;
	display: inline-block;
	cursor: pointer;
}
.tag .color1 {
	background-color: rgb(216, 80, 96);
	background-color: rgba(216, 80, 96, 0.5);
}
.tag .color2 {
	background-color: rgb(78, 157, 157);
	background-color: rgba(78, 157, 157, 0.5);
}
.tag .color3 {
	background-color: rgb(160, 197, 83);
	background-color: rgba(160, 197, 83, 0.5);
}
.tag .color4 {
	background-color: rgb(146, 111, 213);
	background-color: rgba(146, 111, 213, 0.5);
}
.tag .color5 {
	background-color: rgb(58, 168, 220);
	background-color: rgba(58, 168, 220, 0.5);
}
.tag .color6 {
	background-color: rgb(101, 121, 65);
	background-color: rgba(101, 121, 65, 0.5);
}
.tag .color7 {
	background-color: rgb(60, 101, 102);
	background-color: rgba(60, 101, 102, 0.5);
}
.tag .color8 {
	background-color: rgb(108, 122, 87);
	background-color: rgba(108, 122, 87, 0.5);
}
.tag .color9 {
	background-color: rgb(81, 76, 92);
	background-color: rgba(81, 76, 92, 0.5);
}
.tag .color10 {
	background-color: rgb(223, 155, 231);
	background-color: rgba(223, 155 231, 0.5);
}
/*空间公共*/

.main-user {
	height: 236px;
}
.main-user .avatar {
	height: 226px;
	width: 226px;
	background: url(../img/head-bg.png) no-repeat -4px -4px;
	position: relative;
	margin-left: 20px;
}
.main-user .avatar img {
	border-radius: 100px;
	position: absolute;
	top: 24px;
	left: 24px;
}
.main-user .profile {
	width: 918px;
	padding: 30px 0 0;
	*padding: 15px 0 0 30px !important;
	color: #fff;
	position: relative;
}
.main-user .profile h4 {
	font-size: 28px;
	color: #fff;
	line-height: 24px;
}
.main-user .profile h4 a {
	margin-left: 10px;
	*height: 38px;
	*font-size: 14px;
}
.main-user .profile h4 a:hover span {
	font-size: 14px;
	display: inline-block;
	color: #b4bbbf;
	line-height: 14px;
}
.main-user .profile .icon {
	width: 24px;
	background: url(../img/space_icon.png) no-repeat 0 -195px;
}
.main-user .profile .icon-title {} .main-user .icon-teacher {
	background: url(../img/teacher-rz.png) no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
	position: relative;
}
.main-user .icon-teacher i {
	width: 57px;
	height: 22px;
	position: absolute;
	background: url(../img/tip_teacher.png) no-repeat;
	display: none;
	top: -25px;
	left: -16px;
}
.main-user .icon-teacher:hover i {
	display: block;
}
.main-user .aboutme {
	margin-top: 25px;
	color: #d6d8d9;
	width: 520px;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow: hidden;
}
.main-user .aboutjob {
	line-height: 40px;
	font-size: 14px;
	color: #fff;
}
.main-user .web {
	position: absolute;
	right: 30px;
	top: 50px;
}
.main-user .web li {
	float: left;
	height: 20px;
	margin: 0 5px;
}
.main-user .web .icon {
	width: 20px;
	height: 20px;
	text-indent: -9999em;
}
.main-user .web .icon-wb {
	background-position: 0 0;
}
.main-user .web .icon-wb:hover {
	background-position: -35px 0;
}
.main-user .web .icon-qwb {
	background-position: 0 -35px;
}
.main-user .web .icon-qwb:hover {
	background-position: -35px -35px;
}
.main-user .web .icon-qq {
	background-position: 0 -71px;
}
.main-user .web .icon-qq:hover {
	background-position: -35px -71px;
}
.main-user .web .icon-qzone {
	background-position: 0 -106px;
}
.main-user .web .icon-qzone:hover {
	background-position: -35px -106px;
}
.main-user .btn {
	position: absolute;
	right: 30px;
	top: 125px;
	height: 50px;
	line-height: 50px;
	padding: 0 33px 0 53px;
	font-size: 16px;
}
.main-user .btn .icon {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 28px;
	top: 50%;
	margin-top: -10px;
}
/* .main-user .add-frd {
	background-color: rgb(170, 217, 74);
	background-color: rgba(170, 217, 74, 0.5);
}

.main-user .add-frd:hover {
	background-color: rgb(170, 217, 74);
}
 */

.main-user .add-frd .icon {
	background-position: 0 -213px;
}
.main-user .send-msg {
	background-color: rgb(46, 167, 224);
	background-color: rgba(46, 167, 224, 0.5);
}
.main-user .send-msg:hover {
	background-color: rgb(46, 167, 224);
}
.main-user .send-msg .icon {
	background-position: 0 -246px;
}
.bodybg {
	background-color: #fff;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
}
.main-aside {
	width: 260px;
}
.main-aside .main-hd h3 {
	padding: 0;
	font-size: 14px;
}
.dot-progress {
	position: absolute;
	z-index: 2;
	top: 40px;
	left: 100px;
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	background: url(/static/img/course/dot_program.png) no-repeat left bottom;
}
.studyrate {
	width: 280px;
	height: 6px;
	position: absolute;
	top: 158px;
	left: 0px;
	z-index: 1;
}
/*数据及访客*/

.space-data {
	padding: 20px;
	color: #60686b;
}
.space-data li,
.space-item li {
	height: 28px;
	line-height: 28px;
	position: relative;
	padding-left: 22px;
	font-size: 12px;
}
.space-data li a,
.space-item li a {
	color: #60686b;
}
.space-data li a:hover,
.space-item li a:hover {
	color: #c9394a;
	text-decoration: underline;
}
.space-data .icon,
.space-item .icon {
	position: absolute;
	left: 0;
	top: 6px;
}
.space-data .icon-time,
.space-item .icon-time {
	background-position: 0 0;
}
.space-data .icon-course,
.space-item .icon-course {
	background-position: 0 -36px;
}
.space-data .icon-publish,
.space-item .icon-publish {
	background-position: 0 -72px;
}
.space-data .icon-answer,
.space-item .icon-answer {
	background-position: 0 -108px;
}
.space-data .icon-note,
.space-item .icon-note {
	background-position: 0 -143px;
}
.space-data .icon-code,
.space-item .icon-code {
	background-position: 0 -178px;
}
.space-visitors {
	padding: 10px 20px;
}
.space-visitors li {
	margin: 15px 0 20px;
	padding: 0 0 0 50px;
	height: 40px;
	position: relative;
}
.space-visitors li p {
	font-size: 12px;
	height: 14px;
	line-height: 14px;
	margin-top: -5px;
}
.space-visitors .avatar {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}
.space-visitors .nickname {
	position: relative;
	top: -4px;
}
.space-visitors a.nickname:hover {
	text-decoration: underline;
}
.mymain-content {
	position: relative;
	width: 960px;
}
.studyright {
	padding-bottom: 4000px;
	margin-bottom: -4000px;
}
.space-menu {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #d1d6da;
}
.space-menu li {
	float: left;
	width: 120px;
	text-align: center;
	height: 100%;
	color: #60686b;
}
.uncourse,
.unnote,
.unquestion,
.uncode,
.unprogram {
	color: #d0d6d9;
	font-size: 14px;
	text-align: center;
	padding: 80px 0 30px 0;
}
.uncourse p,
.unnote p,
.unquestion p,
.uncode p,
.unprogram p {
	text-align: center;
}
.unprogram span {
	background: url(../img/unlist.gif) no-repeat -130px 0;
	width: 130px;
	height: 130px;
	display: block;
	margin: 0 auto 30px;
}
.uncode span {
	background: url(../img/unlist.gif) no-repeat -130px -130px;
	width: 130px;
	height: 130px;
	display: block;
	margin: 0 auto 30px;
}
.uncourse span {
	background: url(../img/unlist.gif) no-repeat;
	width: 120px;
	height: 120px;
	display: block;
	margin: 0 auto 30px;
}
.unnote span {
	background: url(../img/unlist.gif) no-repeat 0 -294px;
	width: 106px;
	height: 106px;
	display: block;
	margin: 0 auto 30px;
}
.unquestion span {
	background: url(../img/unlist.gif) no-repeat 0 -140px;
	width: 130px;
	height: 130px;
	display: block;
	margin: 0 auto 30px;
}
.main-hd a {
	position: relative;
	color: #99a1a6;
	font-size: 12px;
}
em.moreicon {
	position: absolute;
	top: 8px;
	left: 30px;
	background: url(../img/space_icon.png) no-repeat 0 -177px;
	width: 16px;
	height: 16px;
	display: inline-block;
}
.padright {
	padding-right: 22px;
}
/*笔记*/

.notelist {
	margin-bottom: 10px;
}
.answerImg {
	margin-top: 13px;
	overflow: hidden;
	float: left;
	cursor: pointer;
}
.playtime {
	width: 60px;
	height: 20px;
	line-height: 20px;
	background: url(../img/videointertime.png) no-repeat 0 0;
	padding-left: 20px;
	color: #5e5e5e;
	font-size: 12px;
	font-family: "宋体";
	display: block;
	float: left;
	margin-left: 10px;
}
.playtime:hover {
	background: url(../img/videointertime.png) no-repeat 0 -30px;
	cursor: pointer;
}
.playtime a {
	color: #fff;
	display: block;
}
.playtime_AS {
	margin-top: 80px;
}
.playtime_Ac {
	margin-top: 277px;
}
.finaltime {
	margin-right: 20px;
}
.mynote {
	line-height: 24px;
	overflow: hidden;
}
/*他人空间*/

.main-content {
	min-height: 595px;
	width: 880px;
	padding: 0 20px 20px;
}
/*个人信息*/

.profile-li {
	border-bottom: 1px dashed #e5e5e5;
	padding: 20px 35px 20px 125px;
	font-size: 14px;
	color: #b4bbbf;
	position: relative;
	overflow: hidden;
	zoom: 100%;
}
.profile-li span {
	margin-right: 38px;
	width: 75px;
	text-align: right;
	position: absolute;
	left: 35px;
	top: 20px;
}
.profile-li .tag-top li {
	margin: 0 10px 10px 0;
	white-space: nowrap;
}
.profile-li em {
	color: #3a3d3f;
}
.profile-li .long-break {
	word-wrap: break-word;
	word-break: break-all;
	float: left;
	width: 560px;
}
.profile-li .tag em {
	color: #fff;
}
.profile-li.city em {
	margin-right: 10px;
}
.profile-li.last {
	border: none;
}
li.unvisitor {
	background: url(../img/unlist.gif) no-repeat 0 -407px;
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 30px auto 0;
}
li.unvisitortex {
	padding: 0;
	text-align: center;
	color: #d0d6d9;
}
em.undescr {
	color: #b4bbbf;
}
em.untags {
	color: #fff;
	padding: 5px 5px;
	background: #bec3c5;
	background: rgba(190, 195, 197, 0.5);
	display: inline-block;
	margin-top: 8px;
}
em.untagsn {
	color: #fff;
	padding: 5px 10px;
	background: #bec3c5;
}
/*我的慕课*/

.myspace-bg {
	background: #fff;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding-bottom: 20px;
}
.myspace-courselist {
	padding: 0px 20px;
	width: 830px;
	min-height: 1342px;
	margin-bottom: 30px;
}
.space-course .page {
	margin-top: 0 !important;
	padding-top: 25px !important;
}
.myspace-slider {
	width: 200px;
}
/*我的慕课右侧数据*/

.myspace-data {
	padding: 0 20px;
}
.myname {
	font-size: 22px;
	color: #363d40;
	margin-top: 25px;
	word-wrap: break-word;
}
.job-title {
	line-height: 22px;
	margin-top: 3px;
}
.coursepic {
	float: left;
	width: 210px;
}
.mysignature {
	font-size: 12px;
	color: #99a1a6;
	line-height: 24px;
	margin: 10px 0;
	position: relative;
}
.mysignature em {
	background: url(../img/mycourselisticon.png) no-repeat 2px -104px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	bottom: 5px;
	right: 0px;
}
.mysignature a em:hover {
	background: url(../img/mycourselisticon.png) no-repeat 2px -128px;
}
.signWrap {
	position: relative;
}
.signed,
.signing {
	word-wrap: break-word;
	word-break: break-all;
	line-height: 20px;
	font-size: 12px;
	color: #99a1a6;
	width: 156px;
	display: block;
	margin: 30px 0;
}
.signing {
	position: absolute;
	top: 0;
	left: 0;
	resize: none;
	display: none;
	height: 40px;
	margin: 0px;
	border: 1px solid #e6e8e9;
}
.space-item {
	padding: 20px;
}
.borderB {
	border-bottom: 1px dashed #e5e5e5;
	padding: 20px 0;
}
.nonepadt {
	padding-top: 0px;
}
.mystudymeg {
	color: #b4bbbf;
	font-size: 12px;
	margin-top: 41px;
}
.mystudymeg em,
.mystudypro em {
	padding: 0 10px;
}
.mystudymeg em.nonele,
.mystudypro em.nonele {
	padding-left: 0;
}
.mystudymeg span,
.mystudypro span {
	clear: both;
}
progress.mycoursepro {
	height: 6px;
	background: #edf0f2;
	width: 300px;
}
.mycourselist {
	clear: both;
	position: relative;
}
a.delmycourseBtn {
	position: absolute;
	right: 20px;
	bottom: 36px;
	background: url(../img/mycourselisticon.png) no-repeat 0 -54px;
	width: 20px;
	height: 20px;
	display: none;
}
a.delmycourseBtn:hover {
	background: url(../img/mycourselisticon.png) no-repeat 0 -80px;
}
a.playcourseBtn {
	position: absolute;
	right: 80px;
	bottom: 36px;
	background: url(../img/mycourselisticon.png) no-repeat 0 -27px;
	width: 20px;
	height: 20px;
	display: none;
}
a.mainplaycourseBtn {
	position: absolute;
	right: 20px;
	bottom: 36px;
	background: url(../img/mycourselisticon.png) no-repeat 0 -27px;
	width: 20px;
	height: 20px;
	display: none;
}
a.playcourseBtn:hover,
a.mainplaycourseBtn:hover {
	background: url(../img/mycourselisticon.png) no-repeat 0 0;
}
a.delnote {
	position: absolute;
	right: 20px;
	bottom: 0;
	background: url(../img/mycourselisticon.png) no-repeat 0 -239px;
	width: 20px;
	height: 20px;
}
a.delnote:hover {
	background: url(../img/mycourselisticon.png) no-repeat 0 -265px;
}
a.editnote {
	position: absolute;
	right: 80px;
	bottom: 0;
	background: url(../img/mycourselisticon.png) no-repeat 0 -108px;
	width: 20px;
	height: 20px;
}
a.editnote:hover {
	background: url(../img/mycourselisticon.png) no-repeat 0 -132px;
}
.editordel {
	display: none;
}
.discusslist .editordel {
	position: absolute;
	right: 20px;
	bottom: 0;
}
.mycourselist:hover .delmycourseBtn,
.mycourselist:hover .playcourseBtn,
.mycourselist:hover .mainplaycourseBtn,
.mycourselist:hover .othermeg em {
	display: block;
}
/*20140211 by zss */

.mycourseicon {
	background: url(../img/myspace.png) no-repeat 0 0;
	width: 40px;
	height: 40px;
	clear: both;
	margin-right: 20px;
}
.mycoursename {
	width: 420px;
}
.coursename {
	width: 480px;
	float: right;
}
.mystudypro {
	color: #b4bbbf;
	font-size: 12px;
	margin-top: 41px;
	*margin-top: 41px !important;
}
div.showProgess {
	line-height: 6px;
	*margin-top: 5px !important;
}
img {
	margin: 0;
	padding: 0;
	display: block;
}
p.studypro {
	font-size: 12px;
	color: #363d40;
}
.import_box {
	border: 1px solid #ccc;
}
.push_msg {
	text-align: right;
	display: none;
}
.sign_block {
	display: block;
}
.signed {
	visibility: visible;
}
.signed_visible {
	visibility: hidden;
}
.rlf-tip-wrap {
	color: red;
}
.main-aside .tag li {
	margin-top: 10px;
}
.othermeg,
.editordel {
	clear: both;
	padding: 20px 0 0 60px;
	*padding: 0 0 0 60px !important;
	line-height: 22px;
	color: #b5bdc0;
	font-size: 12px;
}
.nonepadt .othermeg {
	*margin-top: 20px;
}
.othermeg em {
	position: absolute;
	right: 60px;
	bottom: 36px;
	display: none;
}
.editordel em {
	position: absolute;
	right: 60px;
	bottom: 1px;
}
.lastupdatetime {
	font-size: 12px;
	color: #b5bdc0;
	margin-left: 20px;
}
/* .questiontag {
	height: 50px;
	border-bottom: 1px solid #d0d6d9;
}

.questiontag a {
	float: left;
	width: 98px;
	text-align: center;
	font-size: 14px;
	display: block;
}

.questiontag a span {
	display: block;
	line-height: 16px;
	height: 16px;
	position: relative;
	top: 9px;
}

.questiontag a.active, .questiontag a:hover {
	color: #c9394a;
	height: 36px;
	border-bottom: 4px solid #c9394a;
	text-decoration: none;
}

.questiontag a span.nonebroder {
	border-right: 0;
} */
/*我的空间左侧小分类*/

.myspace-list {
	width: 90px;
	position: fixed;
	top: 90px;
	z-index: 99;
}
.myspace-list a {
	display: block;
	clear: both;
	width: 90px;
	height: 43px;
	background: #d3dce0;
	margin-bottom: 1px;
	position: relative;
}


.myspace-list .myspace-course {
	background: #d3dce0 url(../img/myspace-newicon.png) no-repeat 17px 17px;
}
.myspace-list .myspace-ques {
	background: #d3dce0 url(../img/myspace-newicon.png) no-repeat 17px -59px;
}
.myspace-list .myspace-note {
	background: #d3dce0 url(../img/myspace-newicon.png) no-repeat 17px -95px;
}
.myspace-list .myspace-plan {
	background: #d3dce0 url(../img/myspace-newicon.png) no-repeat 17px -21px;
}
.myspace-list .myspace-code {
	background: #d3dce0 url(../img/myspace-newicon.png) no-repeat 17px -129px;
}
/*.myspace-list a.myspace-home:hover i,.myspace-list a.myspace-course:hover i,.myspace-list a.myspace-ques:hover i,.myspace-list a.myspace-note:hover i {
	width: 100px;
	margin-left: -50px;
}

 .myspace-list a.myspaceactive,.myspace-list a.courseactive,.myspace-list a.quesactive,.myspace-list a.noteactive {
	background: #364247;
} */

.myspace-list .accountactive {
	background: #364247 !important;
}
.accountactive i {
	color: #FFFFFF;
}
.accountactive span{
	color: #FFFFFF !important;
}
.myspace-list a span {
	width: 66px;
	height: 29px;
	color: #000000;
	position: absolute;
	left: 30px;
	top: 8px;
	text-indent: 21px;
	line-height: 25px;
	z-index: 99
}
.myspace-list a:hover span {
	display: block;
}
.myspace-list .myspace-course:hover {
	background: #99a6ad no-repeat -17px 17px;
}


#courseSelect {
	margin-top: 11px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #656e73;
}
.mynote-edit {
	display: block;
	line-height: 16px;
}
.edit-area {
	width: 603px;
	border: 1px solid #e0ce8f;
	background: #fdf9f4;
	padding: 10px 10px 35px 10px;
	color: #3a3d3f;
	font-size: 12px;
	line-height: 20px;
}
.sava_btn {
	display: none;
	position: absolute;
	right: 16px;
	top: 28px;
	*top: 23px !important;
	width: 30px;
	height: 30px;
	background: url(../img/mycourselisticon.png) no-repeat 0 -159px;
}
a.sava_btn:hover {
	background: url(../img/mycourselisticon.png) no-repeat 0 -199px;
}
.wikidefatimg {
	background: url(../img/myspace.png) no-repeat 0 -100px;
	width: 40px;
	height: 40px;
}
.smalldisicon {
	background: url(../img/myspace.png) no-repeat 0 -198px;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 26px;
	left: 38px;
}
.smallnoteicon {
	background: url(../img/myspace.png) no-repeat 0 -266px;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 26px;
	left: 38px;
}
.mynoteicon {
	background: url(../img/myspace.png) no-repeat 0 -50px;
	width: 40px;
	height: 40px;
}
.myquesicon {
	background: url(../img/myspace.png) no-repeat 0 -150px;
	width: 40px;
	height: 40px;
}
.mywenda {
	background: url(../img/wenda.png) no-repeat 0 0;
	width: 40px;
	height: 40px;
}
.smallwenda {
	background: url(../img/wenda.png) no-repeat 0 -56px;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 26px;
	left: 38px;
}
/*成就*/

.mp-wrap {
	border-top: 1px solid #d0d6d9;
}
.mp-atag {
	cursor: pointer;
}
.mp-atag:hover p {
	color: #c9394a;
}
.mp-title {
	color: #969b9e;
	font-size: 12px;
}
.mp-num {
	font-size: 16px;
	font-weight: bolder;
	color: #364247;
}
.mp-item {
	width: 100%;
	position: relative;
	padding-top: 8px;
	text-align: center;
}
.line-iron {
	position: absolute;
	width: 1px;
	height: 24px;
	background: #edf0f2;
	top: 21px;
	left: 100%;
}
.mp-uspace {
	position: relative;
	margin-top: 10px;
	;
}
.mp-uspace .mp-title {
	color: #a5abac;
}
.mp-uspace .mp-num {
	padding: 0 18px 0 3px;
	color: #fff;
}
.mp-uspace .line-iron {
	top: 4px;
	left: 93px;
	height: 16px;
}
.mp-ubadge {
	padding-left: 15px;
}
/*我的笔记增加更多*/

.notelist-content {
	position: relative;
	max-height: 168px;
	/*max-height = (lineNumber + 1) * lineHeight*/
	
	line-height: 28px;
	overflow: hidden;
}
.notelist-content-more {
	position: absolute;
	top: 140px;
	/*top = lineNumber * lineHeight*/
	
	left: 0;
	right: 0;
	height: 28px;
	line-height: 28px;
	background-color: #fff;
}
.notelist-content-more a {
	font-size: 12px;
	color: #999;
}
.notelist-content-more a:hover {
	color: #090;
}
.notelist-content p {
	font-size: 14px;
	line-height: 28px;
	color: #303538;
	word-break: break-all;
}
.mycode-view {
	display: inline-block;
	height: 30px;
	width: 120px;
	vertical-align: middle;
	margin-top: 10px;
	background: url(/static/img/code-sprite.png) no-repeat 0 0;
}
.mycode-view:hover {
	background-position: 0 -40px;
}
.space-note-input {
	position: relative;
	border: 1px solid #d3dce0;
	padding: 8px 10px 15px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color 0.2s;
	-webkit-transition: border-color 0.2s;
	-moz-transition: border-color 0.2s;
	-o-transition: border-color 0.2s;
	width: 650px;
}
.space-note-input textarea {
	width: 100%;
	resize: none;
	height: 72px;
	line-height: 18px;
	font-size: 13px;
	overflow: auto;
	color: #555;
}
p.space-note-text-counter {
	position: absolute;
	right: 5px;
	bottom: 3px;
	font-size: 12px;
	line-height: 12px !important;
	color: #ccc;
	padding: 0;
}
p.space-note-text-counter span {
	line-height: 12px !important;
}
.space-fake-focus {
	border-color: #7bd089;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c6ebcc;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c6ebcc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c6ebcc;
}
.space-fake-error {
	border-color: #be3948;
}
.space-fake-error.space-fake-focus {
	border-color: #be3948;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #da838d;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #da838d;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #da838d;
}
.limit-overflow {
	color: #c33;
}
.class-shadow {
	margin-bottom: 20px;
	border: 1px solid #e6e8e9;
	border-top: 0;
	background-color: #fff;
	box-shadow: 0px 1px 2px #d5d7d8;
}
.box-shadow {
	box-shadow: 0 1px 2px #c5c5c5;
}
.box-shadow-hover {
	box-shadow: 0 2px 8px #bbb;
}
body {
	background: #edeff0;
}
.container {
	color: #656e73;
}
.fixed {
	position: fixed !important;
	top: 0;
	z-index: 9;
}
.btn-green {
	padding: 0 50px;
	height: 38px;
	line-height: 38px;
	background: #39b94e;
	border-bottom: 2px solid #33a646;
	color: #fff;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-family: Microsoft YaHei;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
}
a.btn-green:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
a.btn-green:hover,
a.btn-green:link,
a.btn-green:visited {
	color: #fff;
}
.gotoTopBtn {
	margin-left: 610px;
}
.space-tabs-menu {
	overflow: hidden;
	position: relative;
	width: 840px;
	margin: 0 auto;
}
.space-tabs-menu .course-checkbox {
	margin-top: 15px;
	margin-right: 15px;
	font-size: 12px;
	color: #656e73;
	padding-left: 30px;
	opacity: 1;
	cursor: pointer;
	filter: alpha(opacity=100);
	transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	background: url(/static/img/course/dot_checkbox.png?t=1) no-repeat left -5px;
	display: block;
}
.course-checked {
	background-position: left -35px !important;
}
.space-tabs-menu .course-checkbox:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.space-tabs-menu ul,
.space-tabs-menu h2 {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #d0d6d9;
}
.space-tabs-menu h2 a {
	display: block;
	line-height: 50px;
	color: #303538;
	font-size: 14px;
	padding-left: 25px;
	background: url(/static/img/dot_space_code.png) no-repeat left center;
}
.space-tabs-menu li {
	float: left;
	width: 100px;
	height: 50px;
	font-size: 12px;
	position: relative;
}
.remind {
	position: absolute;
	top: 10px;
	right: 5px;
	height: 14px;
	border: 1px solid #c9394a;
	border-radius: 10px;
	background: #c9394a;
	padding: 0 5px;
	color: #fff;
	font-style: normal;
	text-align: center;
	line-height: 14px;
	font-size: 9px;
}
.space-tabs-menu li a {
	display: block;
	text-align: center;
	line-height: 50px;
	padding-bottom: 5px;
	color: #b4bbbf;
}
.space-tabs-menu li a.curr {
	color: #656e73;
}
.space-tabs-menu .dot-curr {
	position: absolute;
	width: 100px;
	height: 2px;
	left: 0;
	bottom: 0;
	background: #7e878c;
}
.myspace-tab-list {
	*margin-top: -50px;
}
.space-tabs-menu .space-tabs-edit {
	width: 30px;
	height: 30px;
	background: #ffffff url(/static/img/course/dot_program_edit.png) no-repeat center center;
	margin: 10px;
	float: right;
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.space-tabs-menu .space-tabs-edit:hover {
	background-color: #edf0f2;
	opacity: 1;
	filter: alpha(opacity=100);
}
.space-tabs-menu .space-tabs-edit-hover {
	width: 60px;
	background: #99a1a6;
	text-align: center;
	line-height: 30px;
	color: #fff;
	margin: 10px;
	float: right;
	cursor: pointer;
}
.mycode-nick {
	padding-right: 10px;
}
.mycode-view {
	display: inline-block;
	height: 30px;
	width: 120px;
	vertical-align: middle;
	margin-top: 10px;
	background: url(/static/img/code-sprite.png) no-repeat 0 0;
}
.mycode-view:hover {
	background-position: 0 -40px;
}
.program-list {
	margin: 0 auto;
	width: 830px;
	padding-top: 20px;
}
.program-list li {
	float: left;
	margin: 0 0px 40px;
	width: 830px;
	height: 200px;
	background: #fff;
	background: #f7faf9\0/;
	*background: #f7faf9;
	border-bottom: 2px solid #f7faf9\0/;
	*border-bottom: 2px solid #f7faf9;
	position: relative;
	box-shadow: 0 1px 2px #c5c5c5;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
}
.program-list li .btn-del {
	width: 24px;
	height: 24px;
	background: url(/static/img/course/dot_del.png) no-repeat center center;
	position: absolute;
	left: -10px;
	top: -10px;
	cursor: pointer;
	display: none;
}
.program-list li h3 {
	width: 830px;
	height: 120px;
	text-align: center;
	line-height: 120px;
	color: #fff;
	font-size: 24px;
	background: url(/static/img/course/program/1.png) no-repeat center center;
	background-size: 100%;
	transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	-o-transition: 1s;
}
.program-list li .program-list-intro {
	color: #656e73;
	padding: 15px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	word-break: break-all;
	word-wrap: break-word;
}
.program-list li .program-join {
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	position: absolute;
	width: 830px;
	height: 80px;
	line-height: 80px;
	bottom: 0px;
	background: #fff;
	text-align: center;
	display: none;
}
.program-list li .progress,
.program-list li progress {
	width: 830px;
}
.program-list li a.btn-green {
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	margin: 0 auto;
	width: auto;
}
.program-list li:hover {
	box-shadow: 0 2px 8px #bbb;
	border-bottom: 2px solid #dae0e5\0/;
	*border-bottom: 2px solid #dae0e5;
}
.program-list li:hover h3 {
	background-size: 120%;
}
.program-list li:hover .program-join {
	display: block;
}
.borderB {
	padding: 20px 10px;
}
#face_panel {
	background-color: #eae2df;
	border: 1px solid #9FA0A0;
	border-radius: 3px;
	bottom: 4px;
	box-shadow: 0 0 6px rgba(94, 89, 89, 0.57);
	left: 0px;
	margin-bottom: 80px;
	overflow-y: hidden;
	padding: 15px;
	width: 530px;
	z-index: 999;
	position: absolute;
	height: 215px
}
#face_panel #choose_face {
	border: 1px solid #DFE6F6;
	border-width: 0;
	zoom: 1
}
#face_panel #choose_face:after {
	content: '\20';
	display: block;
	clear: both
}
#choose_face a {
	display: block;
	float: left;
	height: 65px;
	padding: 4px;
}
#choose_face a:hover {
	background: #e1dcd6;
}
#choose_face a p {
	line-height: 22px;
	text-align: center;
}
.font-colorg #choose_face a p {
	color: #5e5e5e;
}
#choose_face a.border_bottom_none {
	border-bottom: none;
}
#choose_face a.border_right_none {
	border-right: none;
}
.new {
	color: #86d693 !important;
}
.attention-list li {
	position: relative;
	border-bottom: 1px #edf0f2 solid;
	height: 154px;
	width: 870px;
	margin: 30px auto 0;
}
.remindcourseupdate,
.remindupdate {
	position: absolute;
	height: 20px;
	border: 1px solid #c9394a;
	border-radius: 15px;
	background: #c9394a;
	padding: 0 10px;
	color: #fff;
	font-style: normal;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
}
.remindcourseupdate {
	top: -5px;
	right: 0;
}
.remindupdate {
	top: -3px;
	right: -24px;
}
.attention-list li .box-left {
	margin-right: 20px;
	position: relative;
	overflow: hidden;
}
.attention-list li .box-left a {
	overflow: hidden;
}
.attention-list li .box-left a .dot-progress {
	width: 80px;
	height: 80px;
	position: absolute;
	z-index: 2;
	left: 70px;
	top: 22px;
	line-height: 80px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	background: url(/static/img/course/dot_program.png) no-repeat left bottom;
}
.progress {
	background: #656e73;
	position: absolute;
	left: 0;
	top: 114px;
	z-index: 2;
	height: 6px;
	width: 220px;
	color: #3ab94e;
}
.progressBar {
	background: #3ab94e;
}
progress::-moz-progress-bar {
	background: #3ab94e;
}
progress::-webkit-progress-value {
	background: #3ab94e;
}
.attention-list li .box-left img {
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
}
.attention-list li:hover .box-left img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}
.attention-list li .box-right {
	float: left;
	width：460px;
	overflow: hidden;
}
.attention-list li .box-right h3 {
	font: "微软雅黑" 16px/36px;
	color: #363d40
}
.attention-list li .box-right div span {
	font-size: 12px;
	color: #99a1a6;
	padding-right: 10px
}
.box-right .span-mid {
	border-left: 1px #d0d6d9 solid;
	border-right: 1px #d0d6d9 solid;
	padding-left: 10px
}
.box-right .span-right {
	padding-left: 10px
}
.box-right .beginstudy {
	height: 38px;
	width: 100px;
	padding: 0 10px;
	display: block;
	background: #39b94e;
	text-align: center;
	line-height: 38px;
	margin-top: 18px;
	border-bottom: 2px solid #33a646;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.box-right .beginstudy:hover {
	opacity: .8 filter: alpha(opacity: 80);
}
.box-right .beginstudy:link,
.box-right .beginstudy:visited {
	color: #fff
}
.btn-del {
	width: 24px;
	height: 24px;
	background: url(/static/img/course/dot_del.png) no-repeat center center;
	position: absolute;
	left: -10px;
	top: -10px;
	cursor: pointer;
	display: none;
	z-index: 99;
}