.ri-grid{
	width: 980px;
	margin:0 auto;
	padding:0;
}

.ri-grid ul li,
.ri-grid ul li a{
	width: 98px;
	height: 98px;
	margin:0;
	padding:0;
}
.ri-grid ul li a img{
	width: 100%;
	margin:0;
	padding:0;
}
